################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/.vs/LeetCode/v15
/LeetCode/src/AlgorithmProblems/bin
/LeetCode/src/AlgorithmProblems/obj
*.suo
*.sqlite
*.json
