################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/.vs/LeetCode/v15
/LeetCode/src/AlgorithmProblems/bin
/LeetCode/src/AlgorithmProblems/obj
*.suo
*.sqlite
*.json
/LeetCode/packages/MSTest.TestAdapter.1.1.11
/LeetCode/packages/MSTest.TestFramework.1.1.11
/LeetCode/src/AlgorithmTests/bin/Debug
/LeetCode/src/AlgorithmTests/obj/Debug
/LeetCode/packages
